/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

.dev-note-table {
    text-align: center;
    border: 1px solid black;
}

    .dev-note-table th {
        border: 1px solid black;
        width: 125px;
    }

    .dev-note-table tr th {
        border: 1px solid black;
        width: 125px;
    }

    .dev-note-table td {
        border: 1px solid black;
        width: 125px;
    }

    .dev-note-table tr td {
        border: 1px solid black;
        width: 125px;
    }

#note {
    width: 375px;
}
